<div class="row">
   <div class="col-md-12">
      <div class="parent-chat-container">
            <div class="chat-header">
             <h4>WebSockets with Express</h4>
             <span class="boldText">{{sender|upperCase}}</span>
             <!-- <button type="button" class="btn btn-info" (click)="logout()">Logout</button> -->
            </div>
            <div class="chat-body">
                  <router-outlet></router-outlet>
            </div>
      </div>
   </div>
</div>

        



