
    server{
    listen ${CLIENT_NGINX_PORT} ssl;
    server_name ${SERVER_NAME};
    default_type application/octet-stream;
    error_log /var/log/nginx/error.log debug;
    ssl_certificate /etc/nginx/ssl/selfSigned.crt;
    ssl_certificate_key /etc/nginx/ssl/private.key;
    ssl_password_file /etc/nginx/ssl/passphrase.txt;


    gzip                    on;
    gzip_comp_level         6;
    gzip_vary               on;
    gzip_min_length         1000;
    gzip_proxied            any;
    gzip_types              text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_buffers            16 8k;
    client_max_body_size    256M;

    add_header 'Strict-Transport-Security' 'max-age=63072000; includeSubDomains; preload'; ## to ensure there are no insecure requests

    root /usr/share/nginx/html;


        location /web/{
            proxy_pass https://${BACKEND_NGINX_NAME}:${BACKEND_NGINX_PORT}/web/;
        }

        location /socket.io/{
            proxy_pass https://${BACKEND_NGINX_NAME}:${BACKEND_NGINX_PORT}/socket.io/;
        }

        location /assets/ {
         autoindex on;
        }

        location / {
        try_files $uri $uri/ $uri/index.html =404;
        }
        error_page  404              /index.html;
    }

